5.1 Introduction to pandas Data Structures

In [19]:
# Series

import pandas as pd
import numpy as np


obj = pd.Series([4, 7, -5, 3])
print(obj)
print(obj.values)
print(obj.index)

obj2 = pd.Series([4, 7, -5 ,3], index=['d', 'b', 'a', 'c'])
print('\n')
print(obj2)
print(obj2.index)
print(obj2['a'])
print(obj2['d'])
print(obj2[['c', 'a', 'd']])

print('\n')
print(obj2[obj2 > 0])
print(obj2 * 2)
print(np.exp(obj2))

print('\n')
print('b' in obj2)
print('e' in obj2)

sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj3 = pd.Series(sdata)
print(obj3)

states = ['California', 'Ohio', 'Oregon', 'Texas']
obj4 = pd.Series(sdata, index=states)
print('\n')
print(obj4)

print('\n')
print(pd.isnull(obj4))
print(pd.notnull(obj4))

print('\n')
print(obj4.isnull())

print('\n')
print(obj3)
print('\n')
print(obj4)
print('\n')
print(obj3 + obj4)

obj4.name = 'population'
obj4.index.name = 'state'
print('\n')
print(obj4)

print('\n')
print(obj)
obj.index = ['Bob', 'Steve', 'Jeff', 'Ryan']
print(obj)

0    4
1    7
2   -5
3    3
dtype: int64
[ 4  7 -5  3]
RangeIndex(start=0, stop=4, step=1)


d    4
b    7
a   -5
c    3
dtype: int64
Index(['d', 'b', 'a', 'c'], dtype='object')
-5
4
c    3
a   -5
d    4
dtype: int64


d    4
b    7
c    3
dtype: int64
d     8
b    14
a   -10
c     6
dtype: int64
d      54.598150
b    1096.633158
a       0.006738
c      20.085537
dtype: float64


True
False
Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64


California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64


California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool
California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool


California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool


Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64


California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64


California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64


state
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: population, dtype: float64


0    4
1    7
2   -5
3    3
dtype: int64
Bob      4
Steve    7
Jeff    -5
Ryan     3
dtype: int64

In [42]:
# DataFrame

data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002, 2003],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame = pd.DataFrame(data)

print(frame)
print('\n')
print(frame.head())
print('\n')
print(pd.DataFrame(data, columns=['year', 'state', 'pop']))

frame2 = pd.DataFrame(data, columns=['year', 'state', 'pop', 'debt'],
                      index=['one', 'two', 'three', 'four', 'five', 'six'])
print('\n')
print(frame2)
print('\n')
print(frame2.columns)
print('\n')
print(frame2['state'])
print('\n')
print(frame2.year)
print('\n')
print(frame2.loc['three'])

frame2['debt'] = 16.5
print('\n')
print(frame2)
frame2['debt'] = np.arange(6.)
print('\n')
print(frame2)

val = pd.Series([-1.2, -1.5, -1.7], index=['two', 'four', 'five'])
frame2['debt'] = val
print('\n')
print(frame2)

frame2['eastern'] = frame2.state == 'Ohio'
print('\n')
print(frame2)
del frame2['eastern']
print('\n')
print(frame2.columns)

pop = {'Nevada': {2001: 2.4, 2002: 2.9},
       'Ohio': {2000: 1.5, 2001: 1.7, 2002: 3.6}}
frame3 = pd.DataFrame(pop)
print('\n')
print(frame3)

print('\n')
print(frame3.T)

print('\n')
print(pd.DataFrame(pop, index=[2001, 2002, 2003]))

pdata = {'Ohio': frame3['Ohio'][:-1],
         'Nevada': frame3['Nevada'][:2]}
print('\n')
print(pd.DataFrame(pdata))

frame3.index.name = 'year'
frame3.columns.name = 'state'
print('\n')
print(frame3)

print('\n')
print(frame3.values)

print('\n')
print(frame2.values)

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2


    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9


   year   state  pop
0  2000    Ohio  1.5
1  2001    Ohio  1.7
2  2002    Ohio  3.6
3  2001  Nevada  2.4
4  2002  Nevada  2.9
5  2003  Nevada  3.2


       year   state  pop debt
one    2000    Ohio  1.5  NaN
two    2001    Ohio  1.7  NaN
three  2002    Ohio  3.6  NaN
four   2001  Nevada  2.4  NaN
five   2002  Nevada  2.9  NaN
six    2003  Nevada  3.2  NaN


Index(['year', 'state', 'pop', 'debt'], dtype='object')


one        Ohio
two        Ohio
three      Ohio
four     Nevada
five     Nevada
six      Nevada
Name: state, dtype: object


one      2000
two      2001
three    2002
four     2001
five     2002
six      2003
Name: year, dtype: int64


year     2002
state    Ohio
pop       3.6
debt      NaN
Name: three, dtype: object


       year   state  pop  debt
one    2000    Ohio  1.5  16.5
two    2001    Ohio  1.7  16.5
three  2002    Ohio  3.6  16.5
four   2001  Nevada  2.4  16.5
five   2002  Nevada  2.9  16.5
six    2003  Nevada  3.2  16.5


       year   state  pop  debt
one    2000    Ohio  1.5   0.0
two    2001    Ohio  1.7   1.0
three  2002    Ohio  3.6   2.0
four   2001  Nevada  2.4   3.0
five   2002  Nevada  2.9   4.0
six    2003  Nevada  3.2   5.0


       year   state  pop  debt
one    2000    Ohio  1.5   NaN
two    2001    Ohio  1.7  -1.2
three  2002    Ohio  3.6   NaN
four   2001  Nevada  2.4  -1.5
five   2002  Nevada  2.9  -1.7
six    2003  Nevada  3.2   NaN


       year   state  pop  debt  eastern
one    2000    Ohio  1.5   NaN     True
two    2001    Ohio  1.7  -1.2     True
three  2002    Ohio  3.6   NaN     True
four   2001  Nevada  2.4  -1.5    False
five   2002  Nevada  2.9  -1.7    False
six    2003  Nevada  3.2   NaN    False


Index(['year', 'state', 'pop', 'debt'], dtype='object')


      Nevada  Ohio
2001     2.4   1.7
2002     2.9   3.6
2000     NaN   1.5


        2001  2002  2000
Nevada   2.4   2.9   NaN
Ohio     1.7   3.6   1.5


      Nevada  Ohio
2001     2.4   1.7
2002     2.9   3.6
2003     NaN   NaN


      Ohio  Nevada
2001   1.7     2.4
2002   3.6     2.9


state  Nevada  Ohio
year
2001      2.4   1.7
2002      2.9   3.6
2000      NaN   1.5


[[2.4 1.7]
 [2.9 3.6]
 [nan 1.5]]


[[2000 'Ohio' 1.5 nan]
 [2001 'Ohio' 1.7 -1.2]
 [2002 'Ohio' 3.6 nan]
 [2001 'Nevada' 2.4 -1.5]
 [2002 'Nevada' 2.9 -1.7]
 [2003 'Nevada' 3.2 nan]]

In [52]:
# Index Objects

obj = pd.Series(range(3), index=['a', 'b', 'c'])
index = obj.index
print(index)
print(index[1:])

labels = pd.Index(np.arange(3))
print('\n')
print(labels)

obj2 = pd.Series([1.5, -2.5, 0], index=labels)
print(obj2)
print(obj2.index is labels)

print('\n')
print(frame3)
print('\n')
print(frame3.columns)
print('\n')
print('Ohio' in frame3.columns)
print('\n')
print(2003 in frame3.index)

dup_labels = pd.Index(['foo', 'foo', 'bar', 'bar'])
print('\n')
print(dup_labels)

Index(['a', 'b', 'c'], dtype='object')
Index(['b', 'c'], dtype='object')


Index([0, 1, 2], dtype='int64')
0    1.5
1   -2.5
2    0.0
dtype: float64
True


state  Nevada  Ohio
year
2001      2.4   1.7
2002      2.9   3.6
2000      NaN   1.5


Index(['Nevada', 'Ohio'], dtype='object', name='state')


True


False


Index(['foo', 'foo', 'bar', 'bar'], dtype='object')