5.1 Introduction to pandas Data Structures

In [19]:
# Series

import pandas as pd
import numpy as np


obj = pd.Series([4, 7, -5, 3])
print(obj)
print(obj.values)
print(obj.index)

obj2 = pd.Series([4, 7, -5 ,3], index=['d', 'b', 'a', 'c'])
print('\n')
print(obj2)
print(obj2.index)
print(obj2['a'])
print(obj2['d'])
print(obj2[['c', 'a', 'd']])

print('\n')
print(obj2[obj2 > 0])
print(obj2 * 2)
print(np.exp(obj2))

print('\n')
print('b' in obj2)
print('e' in obj2)

sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj3 = pd.Series(sdata)
print(obj3)

states = ['California', 'Ohio', 'Oregon', 'Texas']
obj4 = pd.Series(sdata, index=states)
print('\n')
print(obj4)

print('\n')
print(pd.isnull(obj4))
print(pd.notnull(obj4))

print('\n')
print(obj4.isnull())

print('\n')
print(obj3)
print('\n')
print(obj4)
print('\n')
print(obj3 + obj4)

obj4.name = 'population'
obj4.index.name = 'state'
print('\n')
print(obj4)

print('\n')
print(obj)
obj.index = ['Bob', 'Steve', 'Jeff', 'Ryan']
print(obj)

0    4
1    7
2   -5
3    3
dtype: int64
[ 4  7 -5  3]
RangeIndex(start=0, stop=4, step=1)


d    4
b    7
a   -5
c    3
dtype: int64
Index(['d', 'b', 'a', 'c'], dtype='object')
-5
4
c    3
a   -5
d    4
dtype: int64


d    4
b    7
c    3
dtype: int64
d     8
b    14
a   -10
c     6
dtype: int64
d      54.598150
b    1096.633158
a       0.006738
c      20.085537
dtype: float64


True
False
Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64


California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64


California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool
California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool


California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool


Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64


California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64


California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64


state
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: population, dtype: float64


0    4
1    7
2   -5
3    3
dtype: int64
Bob      4
Steve    7
Jeff    -5
Ryan     3
dtype: int64

In [42]:
# DataFrame

data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002, 2003],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame = pd.DataFrame(data)

print(frame)
print('\n')
print(frame.head())
print('\n')
print(pd.DataFrame(data, columns=['year', 'state', 'pop']))

frame2 = pd.DataFrame(data, columns=['year', 'state', 'pop', 'debt'],
                      index=['one', 'two', 'three', 'four', 'five', 'six'])
print('\n')
print(frame2)
print('\n')
print(frame2.columns)
print('\n')
print(frame2['state'])
print('\n')
print(frame2.year)
print('\n')
print(frame2.loc['three'])

frame2['debt'] = 16.5
print('\n')
print(frame2)
frame2['debt'] = np.arange(6.)
print('\n')
print(frame2)

val = pd.Series([-1.2, -1.5, -1.7], index=['two', 'four', 'five'])
frame2['debt'] = val
print('\n')
print(frame2)

frame2['eastern'] = frame2.state == 'Ohio'
print('\n')
print(frame2)
del frame2['eastern']
print('\n')
print(frame2.columns)

pop = {'Nevada': {2001: 2.4, 2002: 2.9},
       'Ohio': {2000: 1.5, 2001: 1.7, 2002: 3.6}}
frame3 = pd.DataFrame(pop)
print('\n')
print(frame3)

print('\n')
print(frame3.T)

print('\n')
print(pd.DataFrame(pop, index=[2001, 2002, 2003]))

pdata = {'Ohio': frame3['Ohio'][:-1],
         'Nevada': frame3['Nevada'][:2]}
print('\n')
print(pd.DataFrame(pdata))

frame3.index.name = 'year'
frame3.columns.name = 'state'
print('\n')
print(frame3)

print('\n')
print(frame3.values)

print('\n')
print(frame2.values)

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2


    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9


   year   state  pop
0  2000    Ohio  1.5
1  2001    Ohio  1.7
2  2002    Ohio  3.6
3  2001  Nevada  2.4
4  2002  Nevada  2.9
5  2003  Nevada  3.2


       year   state  pop debt
one    2000    Ohio  1.5  NaN
two    2001    Ohio  1.7  NaN
three  2002    Ohio  3.6  NaN
four   2001  Nevada  2.4  NaN
five   2002  Nevada  2.9  NaN
six    2003  Nevada  3.2  NaN


Index(['year', 'state', 'pop', 'debt'], dtype='object')


one        Ohio
two        Ohio
three      Ohio
four     Nevada
five     Nevada
six      Nevada
Name: state, dtype: object


one      2000
two      2001
three    2002
four     2001
five     2002
six      2003
Name: year, dtype: int64


year     2002
state    Ohio
pop       3.6
debt      NaN
Name: three, dtype: object


       year   state  pop  debt
one    2000    Ohio  1.5  16.5
two    2001    Ohio  1.7  16.5
three  2002    Ohio  3.6  16.5
four   2001  Nevada  2.4  16.5
five   2002  Nevada  2.9  16.5
six    2003  Nevada  3.2  16.5


       year   state  pop  debt
one    2000    Ohio  1.5   0.0
two    2001    Ohio  1.7   1.0
three  2002    Ohio  3.6   2.0
four   2001  Nevada  2.4   3.0
five   2002  Nevada  2.9   4.0
six    2003  Nevada  3.2   5.0


       year   state  pop  debt
one    2000    Ohio  1.5   NaN
two    2001    Ohio  1.7  -1.2
three  2002    Ohio  3.6   NaN
four   2001  Nevada  2.4  -1.5
five   2002  Nevada  2.9  -1.7
six    2003  Nevada  3.2   NaN


       year   state  pop  debt  eastern
one    2000    Ohio  1.5   NaN     True
two    2001    Ohio  1.7  -1.2     True
three  2002    Ohio  3.6   NaN     True
four   2001  Nevada  2.4  -1.5    False
five   2002  Nevada  2.9  -1.7    False
six    2003  Nevada  3.2   NaN    False


Index(['year', 'state', 'pop', 'debt'], dtype='object')


      Nevada  Ohio
2001     2.4   1.7
2002     2.9   3.6
2000     NaN   1.5


        2001  2002  2000
Nevada   2.4   2.9   NaN
Ohio     1.7   3.6   1.5


      Nevada  Ohio
2001     2.4   1.7
2002     2.9   3.6
2003     NaN   NaN


      Ohio  Nevada
2001   1.7     2.4
2002   3.6     2.9


state  Nevada  Ohio
year
2001      2.4   1.7
2002      2.9   3.6
2000      NaN   1.5


[[2.4 1.7]
 [2.9 3.6]
 [nan 1.5]]


[[2000 'Ohio' 1.5 nan]
 [2001 'Ohio' 1.7 -1.2]
 [2002 'Ohio' 3.6 nan]
 [2001 'Nevada' 2.4 -1.5]
 [2002 'Nevada' 2.9 -1.7]
 [2003 'Nevada' 3.2 nan]]

In [52]:
# Index Objects

obj = pd.Series(range(3), index=['a', 'b', 'c'])
index = obj.index
print(index)
print(index[1:])

labels = pd.Index(np.arange(3))
print('\n')
print(labels)

obj2 = pd.Series([1.5, -2.5, 0], index=labels)
print(obj2)
print(obj2.index is labels)

print('\n')
print(frame3)
print('\n')
print(frame3.columns)
print('\n')
print('Ohio' in frame3.columns)
print('\n')
print(2003 in frame3.index)

dup_labels = pd.Index(['foo', 'foo', 'bar', 'bar'])
print('\n')
print(dup_labels)

Index(['a', 'b', 'c'], dtype='object')
Index(['b', 'c'], dtype='object')


Index([0, 1, 2], dtype='int64')
0    1.5
1   -2.5
2    0.0
dtype: float64
True


state  Nevada  Ohio
year
2001      2.4   1.7
2002      2.9   3.6
2000      NaN   1.5


Index(['Nevada', 'Ohio'], dtype='object', name='state')


True


False


Index(['foo', 'foo', 'bar', 'bar'], dtype='object')

5.2 Essential Functionality

In [63]:
# Reindexing

obj = pd.Series([4.5, 7.2, -5.3, 3.6], index=['d', 'b', 'a', 'c'])
print(obj)

obj2 = obj.reindex(['a', 'b', 'c', 'd', 'e'])
print('\n')
print(obj2)

obj3 = pd.Series(['blue', 'purple', 'yellow'], index=[0, 2, 4])
print('\n')
print(obj3)

print('\n')
print(obj3.reindex(range(6), method='ffill'))

frame = pd.DataFrame(np.arange(9).reshape((3, 3)),
                     index=['a', 'c', 'd'],
                     columns=['Ohio', 'Texas', 'California'])
print('\n')
print(frame)

frame2 = frame.reindex(['a', 'b', 'c', 'd'])
print('\n')
print(frame2)

states = ['Texas', 'Utah', 'California']
print('\n')
print(frame.reindex(columns=states))

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64


a   -5.3
b    7.2
c    3.6
d    4.5
e    NaN
dtype: float64


0      blue
2    purple
4    yellow
dtype: object


0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object


   Ohio  Texas  California
a     0      1           2
c     3      4           5
d     6      7           8


   Ohio  Texas  California
a   0.0    1.0         2.0
b   NaN    NaN         NaN
c   3.0    4.0         5.0
d   6.0    7.0         8.0


   Texas  Utah  California
a      1   NaN           2
c      4   NaN           5
d      7   NaN           8


   Ohio  Texas  California
a     0      1           2
c     3      4           5
d     6      7           8

In [72]:
# Dropping Entries from an Axis

obj = pd.Series(np.arange(5.), index=['a', 'b', 'c', 'd', 'e'])
print(obj)

new_obj = obj.drop('c')
print('\n')
print(new_obj)
print('\n')
print(obj.drop(['d', 'c']))

data = pd.DataFrame(np.arange(16).reshape((4, 4)),
                    index=['Ohio', 'Colorado', 'Utah', 'New York'],
                    columns=['one', 'two', 'three', 'four'])
print('\n')
print(data)

print('\n')
print(data.drop(['Colorado', 'Ohio']))

print('\n')
print(data.drop('two', axis=1))

print('\n')
print(data.drop(['two', 'four'], axis='columns'))

obj.drop('c', inplace=True)
print('\n')
print(obj)

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
dtype: float64


a    0.0
b    1.0
d    3.0
e    4.0
dtype: float64


a    0.0
b    1.0
e    4.0
dtype: float64


          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15


          one  two  three  four
Utah        8    9     10    11
New York   12   13     14    15


          one  three  four
Ohio        0      2     3
Colorado    4      6     7
Utah        8     10    11
New York   12     14    15


          one  three
Ohio        0      2
Colorado    4      6
Utah        8     10
New York   12     14


a    0.0
b    1.0
d    3.0
e    4.0
dtype: float64

In [92]:
# Indexing, Selection, and Filtering

obj = pd. Series(np.arange(4.), index=['a', 'b', 'c', 'd'])
print(obj)
print('\n')
print(obj['b'])
print(obj[1])
print(obj[2:4])
print(obj[['b', 'c', 'd']])
print(obj[[1, 3]])
print(obj < 2)

print(obj['b':'c'])

obj['b':'c'] = 5
print('\n')
print(obj)

data = pd.DataFrame(np.arange(16).reshape((4, 4)),
                    index=['Ohio', 'Colorado', 'Utah', 'New York'],
                    columns=['one', 'two', 'three', 'four'])
print(data)
print('\n')
print(data['two'])
print('\n')
print(data[['three', 'one']])

print('\n')
print(data[:2])
print('\n')
print(data[data['three'] > 5])

print('\n')
print(data < 5)
data[data < 5] = 0
print('\n')
print(data)

a    0.0
b    1.0
c    2.0
d    3.0
dtype: float64


1.0
1.0
c    2.0
d    3.0
dtype: float64
b    1.0
c    2.0
d    3.0
dtype: float64
b    1.0
d    3.0
dtype: float64
a     True
b     True
c    False
d    False
dtype: bool
b    1.0
c    2.0
dtype: float64


a    0.0
b    5.0
c    5.0
d    3.0
dtype: float64
          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15


Ohio         1
Colorado     5
Utah         9
New York    13
Name: two, dtype: int64


          three  one
Ohio          2    0
Colorado      6    4
Utah         10    8
New York     14   12


          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7


          one  two  three  four
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15


            one    two  three   four
Ohio       True   True   True   True
Colorado   True  False  False  False
Utah      False  False  False  False
New York  False  False  False  False


          one  two  three  four
Ohio        0    0      0     0
Colorado    0    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

/var/folders/qw/xxg7th2n7sn81t2kt_xmf_540000gn/T/ipykernel_97339/1838790158.py:7: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(obj[1])
/var/folders/qw/xxg7th2n7sn81t2kt_xmf_540000gn/T/ipykernel_97339/1838790158.py:10: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(obj[[1, 3]])

In [99]:
print(data.loc['Colorado', ['two', 'three']])
print('\n')
print(data.iloc[2, [3, 0, 1]])
print('\n')
print(data.iloc[2])
print('\n')
print(data.iloc[[1, 2], [3, 0, 1]])

print('\n')
print(data.loc[:'Utah', 'two'])
print('\n')
print(data.iloc[:, :3][data.three > 5])

two      5
three    6
Name: Colorado, dtype: int64


four    11
one      8
two      9
Name: Utah, dtype: int64


one       8
two       9
three    10
four     11
Name: Utah, dtype: int64


          four  one  two
Colorado     7    0    5
Utah        11    8    9


Ohio        0
Colorado    5
Utah        9
Name: two, dtype: int64


          one  two  three
Colorado    0    5      6
Utah        8    9     10
New York   12   13     14

In [107]:
# Integer Indexes
ser = pd.Series(np.arange(3.))
print(ser)

ser2 = pd.Series(np.arange(3.), index=['a', 'b', 'c'])
print('\n')
print(ser2)
print(ser2[-1])

print('\n')
print(ser[:1])
print(ser.loc[:1])
print(ser.iloc[:1])

0    0.0
1    1.0
2    2.0
dtype: float64


a    0.0
b    1.0
c    2.0
dtype: float64
2.0


0    0.0
dtype: float64
0    0.0
1    1.0
dtype: float64
0    0.0
dtype: float64

/var/folders/qw/xxg7th2n7sn81t2kt_xmf_540000gn/T/ipykernel_97339/1151417671.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(ser2[-1])

In [114]:
# Arithmetic and Data Alignment

s1 = pd.Series([7.3, -2.5, 3.4, 1.5], 
               index=['a', 'c', 'd', 'e'])
s2 = pd.Series([-2.1, 3.6, -1.5, 4, 3.1],
               index=['a', 'c', 'e', 'f', 'g'])
print(s1)
print('\n')
print(s2)
print('\n')
print(s1 + s2)

df1 = pd.DataFrame(np.arange(9.).reshape((3, 3)),
                   columns=list('bcd'),
                   index=['Ohio', 'Texas', 'Colorado'])
df2 = pd.DataFrame(np.arange(12.).reshape((4, 3)),
                   columns=list('bde'),
                   index=['Utah', 'Ohio', 'Texas', 'Oregon'])
print('\n')
print(df1)
print('\n')
print(df2)

print('\n')
print(df1 + df2)

df1 = pd.DataFrame({'A': [1, 2]})
df2 = pd.DataFrame({'B': [3, 4]})
print('\n')
print(df1)
print('\n')
print(df2)
print('\n')
print(df1 - df2)

a    7.3
c   -2.5
d    3.4
e    1.5
dtype: float64


a   -2.1
c    3.6
e   -1.5
f    4.0
g    3.1
dtype: float64


a    5.2
c    1.1
d    NaN
e    0.0
f    NaN
g    NaN
dtype: float64


            b    c    d
Ohio      0.0  1.0  2.0
Texas     3.0  4.0  5.0
Colorado  6.0  7.0  8.0


          b     d     e
Utah    0.0   1.0   2.0
Ohio    3.0   4.0   5.0
Texas   6.0   7.0   8.0
Oregon  9.0  10.0  11.0


            b   c     d   e
Colorado  NaN NaN   NaN NaN
Ohio      3.0 NaN   6.0 NaN
Oregon    NaN NaN   NaN NaN
Texas     9.0 NaN  12.0 NaN
Utah      NaN NaN   NaN NaN


   A
0  1
1  2


   B
0  3
1  4


    A   B
0 NaN NaN
1 NaN NaN

In [127]:
df1 = pd.DataFrame(np.arange(12.).reshape((3, 4)),
                   columns=list('abcd'))
df2 = pd.DataFrame(np.arange(20.).reshape((4, 5)),
                   columns=list('abcde'))
df2.loc[1, 'b'] = np.nan
print(df1)
print('\n')
print(df2)
print('\n')
print(df1 + df2)
print('\n')
print(df1.add(df2, fill_value=0))

print('\n')
print(1 / df1)
print('\n')
print(df1.rdiv(1))

print('\n')
print(df1.reindex(columns=df2.columns, fill_value=0))

     a    b     c     d
0  0.0  1.0   2.0   3.0
1  4.0  5.0   6.0   7.0
2  8.0  9.0  10.0  11.0


      a     b     c     d     e
0   0.0   1.0   2.0   3.0   4.0
1   5.0   NaN   7.0   8.0   9.0
2  10.0  11.0  12.0  13.0  14.0
3  15.0  16.0  17.0  18.0  19.0


      a     b     c     d   e
0   0.0   2.0   4.0   6.0 NaN
1   9.0   NaN  13.0  15.0 NaN
2  18.0  20.0  22.0  24.0 NaN
3   NaN   NaN   NaN   NaN NaN


      a     b     c     d     e
0   0.0   2.0   4.0   6.0   4.0
1   9.0   5.0  13.0  15.0   9.0
2  18.0  20.0  22.0  24.0  14.0
3  15.0  16.0  17.0  18.0  19.0


       a         b         c         d
0    inf  1.000000  0.500000  0.333333
1  0.250  0.200000  0.166667  0.142857
2  0.125  0.111111  0.100000  0.090909


       a         b         c         d
0    inf  1.000000  0.500000  0.333333
1  0.250  0.200000  0.166667  0.142857
2  0.125  0.111111  0.100000  0.090909


     a    b     c     d  e
0  0.0  1.0   2.0   3.0  0
1  4.0  5.0   6.0   7.0  0
2  8.0  9.0  10.0  11.0  0


          b     d     e
Utah    0.0   1.0   2.0
Ohio    3.0   4.0   5.0
Texas   6.0   7.0   8.0
Oregon  9.0  10.0  11.0


Utah       1.0
Ohio       4.0
Texas      7.0
Oregon    10.0
Name: d, dtype: float64


          b    d    e
Utah   -1.0  0.0  1.0
Ohio   -1.0  0.0  1.0
Texas  -1.0  0.0  1.0
Oregon -1.0  0.0  1.0

In [128]:
arr = np.arange(12.).reshape((3, 4))
print(arr)
print('\n')
print(arr[0])
print('\n')
print(arr - arr[0])

frame = pd.DataFrame(np.arange(12.).reshape((4, 3)),
                     columns=list('bde'),
                     index=['Utah', 'Ohio', 'Texas', 'Oregon'])
series = frame.iloc[0]
print('\n')
print(frame)
print('\n')
print(series)
print('\n')
print(frame - series)

series2 = pd.Series(range(3), index=['b', 'e', 'f'])
print('\n')
print(frame + series2)

series3 = frame['d']
print('\n')
print(frame)
print('\n')
print(series3)
print('\n')
print(frame.sub(series3, axis='index'))

[[ 0.  1.  2.  3.]
 [ 4.  5.  6.  7.]
 [ 8.  9. 10. 11.]]


[0. 1. 2. 3.]


[[0. 0. 0. 0.]
 [4. 4. 4. 4.]
 [8. 8. 8. 8.]]


          b     d     e
Utah    0.0   1.0   2.0
Ohio    3.0   4.0   5.0
Texas   6.0   7.0   8.0
Oregon  9.0  10.0  11.0


b    0.0
d    1.0
e    2.0
Name: Utah, dtype: float64


          b    d    e
Utah    0.0  0.0  0.0
Ohio    3.0  3.0  3.0
Texas   6.0  6.0  6.0
Oregon  9.0  9.0  9.0


          b   d     e   f
Utah    0.0 NaN   3.0 NaN
Ohio    3.0 NaN   6.0 NaN
Texas   6.0 NaN   9.0 NaN
Oregon  9.0 NaN  12.0 NaN


          b     d     e
Utah    0.0   1.0   2.0
Ohio    3.0   4.0   5.0
Texas   6.0   7.0   8.0
Oregon  9.0  10.0  11.0


Utah       1.0
Ohio       4.0
Texas      7.0
Oregon    10.0
Name: d, dtype: float64


          b    d    e
Utah   -1.0  0.0  1.0
Ohio   -1.0  0.0  1.0
Texas  -1.0  0.0  1.0
Oregon -1.0  0.0  1.0

In [135]:
# Function Application and Mapping

frame = pd.DataFrame(np.random.randn(4, 3), 
                     columns=list('bde'),
                     index=['Utah', 'Ohio', 'Texas', 'Oregon'])
print(frame)
print('\n')
print(np.abs(frame))

f = lambda x: x.max() - x.min()
print('\n')
print(frame.apply(f))
print('\n')
print(frame.apply(f, axis='columns'))

def f(x):
    return pd.Series([x.min(), x.max()], index=['min', 'max'])

print('\n')
print(frame.apply(f))

format = lambda x: '%.2f' % x
print('\n')
print(frame.applymap(format))

print('\n')
print(frame['e'].map(format))

               b         d         e
Utah    0.838902  0.746593 -0.741710
Ohio   -1.081545 -1.244997  0.110258
Texas  -0.031702 -1.080612  0.570335
Oregon -0.377069  0.138199  0.127913


               b         d         e
Utah    0.838902  0.746593  0.741710
Ohio    1.081545  1.244997  0.110258
Texas   0.031702  1.080612  0.570335
Oregon  0.377069  0.138199  0.127913


b    1.920447
d    1.991591
e    1.312045
dtype: float64


Utah      1.580612
Ohio      1.355255
Texas     1.650947
Oregon    0.515268
dtype: float64


            b         d         e
min -1.081545 -1.244997 -0.741710
max  0.838902  0.746593  0.570335


            b      d      e
Utah     0.84   0.75  -0.74
Ohio    -1.08  -1.24   0.11
Texas   -0.03  -1.08   0.57
Oregon  -0.38   0.14   0.13


Utah      -0.74
Ohio       0.11
Texas      0.57
Oregon     0.13
Name: e, dtype: object

/var/folders/qw/xxg7th2n7sn81t2kt_xmf_540000gn/T/ipykernel_97339/4279495379.py:24: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  print(frame.applymap(format))

In [150]:
# Sorting and Ranking

obj = pd.Series(range(4), index=['d', 'a', 'b', 'c'])
print(obj.sort_index())

frame = pd.DataFrame(np.arange(8).reshape((2, 4)),
                     index=['three', 'one'],
                     columns=['d', 'a', 'b', 'c'])
print('\n')
print(frame.sort_index())
print('\n')
print(frame.sort_index(axis=1))

print('\n')
print(frame.sort_index(axis=1, ascending=False))

obj = pd.Series([4, 7, -3, 2])
print('\n')
print(obj.sort_values())

obj = pd.Series([4, np.nan, 7, np.nan, -3, 2])
print('\n')
print(obj.sort_values())

frame = pd.DataFrame({'b': [4, 7, -3, 2], 'a': [0, 1, 0, 1]})
print('\n')
print(frame)
print('\n')
print(frame.sort_values(by='b'))
print('\n')
print(frame.sort_values(by=['a', 'b']))

obj = pd.Series([7, -5, 7, 4, 2, 0, 4])
print('\n')
print(obj.rank())
print('\n')
print(obj.rank(method='first'))
print('\n')
print(obj.rank(ascending=False, method='max'))

frame = pd.DataFrame({'b': [4.3, 7, -3, 2], 'a': [0, 1, 0, 1], 'c': [-2, 5, 8, -2.5]})
print('\n')
print(frame)
print('\n')
print(frame.rank(axis='columns'))

a    1
b    2
c    3
d    0
dtype: int64


       d  a  b  c
one    4  5  6  7
three  0  1  2  3


       a  b  c  d
three  1  2  3  0
one    5  6  7  4


       d  c  b  a
three  0  3  2  1
one    4  7  6  5


2   -3
3    2
0    4
1    7
dtype: int64


4   -3.0
5    2.0
0    4.0
2    7.0
1    NaN
3    NaN
dtype: float64


   b  a
0  4  0
1  7  1
2 -3  0
3  2  1


   b  a
2 -3  0
3  2  1
0  4  0
1  7  1


   b  a
2 -3  0
0  4  0
3  2  1
1  7  1


0    6.5
1    1.0
2    6.5
3    4.5
4    3.0
5    2.0
6    4.5
dtype: float64


0    6.0
1    1.0
2    7.0
3    4.0
4    3.0
5    2.0
6    5.0
dtype: float64


0    2.0
1    7.0
2    2.0
3    4.0
4    5.0
5    6.0
6    4.0
dtype: float64


     b  a    c
0  4.3  0 -2.0
1  7.0  1  5.0
2 -3.0  0  8.0
3  2.0  1 -2.5


     b    a    c
0  3.0  2.0  1.0
1  3.0  1.0  2.0
2  1.0  2.0  3.0
3  3.0  2.0  1.0

In [158]:
# Axis Indexes with Duplicate Labels

obj = pd.Series(range(5), index=['a', 'a', 'b', 'b', 'c'])
print(obj)
print(obj.index.is_unique)
print('\n')
print(obj['a'])
print('\n')
print(obj['c'])

df = pd.DataFrame(np.random.randn(4, 3), index=['a', 'a', 'b', 'b'])
print('\n')
print(df)
print('\n')
print(df.loc['b'])

a    0
a    1
b    2
b    3
c    4
dtype: int64
False


a    0
a    1
dtype: int64


4


          0         1         2
a  1.232922  1.016556  1.340474
a -0.257106  1.699825 -0.673404
b  0.788764  0.074633 -0.434197
b  1.434792  1.552042  0.005145


          0         1         2
b  0.788764  0.074633 -0.434197
b  1.434792  1.552042  0.005145

5.3 Summarizing and Computing Descriptive Statistics

In [169]:
df = pd.DataFrame([[1.4, np.nan], [7.1, -4.5], [np.nan, np.nan], [0.75, -1.3]], 
                  index=['a', 'b', 'c', 'd'],
                  columns=['one', 'two'])
print(df)
print('\n')
print(df.sum())
print('\n')
print(df.sum(axis='columns'))
print('\n')
print(df.mean(axis='columns', skipna=False))
print('\n')
print(df.idxmax())
print('\n')
print(df.cumsum())
print('\n')
print(df.describe())

obj = pd.Series(['a', 'a', 'b', 'c'] * 4)
print('\n')
print(obj.describe())

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3


one    9.25
two   -5.80
dtype: float64


a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64


a      NaN
b    1.300
c      NaN
d   -0.275
dtype: float64


one    b
two    d
dtype: object


    one  two
a  1.40  NaN
b  8.50 -4.5
c   NaN  NaN
d  9.25 -5.8


            one       two
count  3.000000  2.000000
mean   3.083333 -2.900000
std    3.493685  2.262742
min    0.750000 -4.500000
25%    1.075000 -3.700000
50%    1.400000 -2.900000
75%    4.250000 -2.100000
max    7.100000 -1.300000


count     16
unique     3
top        a
freq       8
dtype: object

In [189]:
# Correlation and Covariance

import yfinance as yf
import pandas as pd
import datetime

start = datetime.datetime(2010, 1, 1)
end = datetime.datetime(2016, 10, 22)

all_data = {}
for ticker in ['AAPL', 'IBM', 'MSFT', 'GOOGL']:
    all_data[ticker] = yf.download(ticker, start=start, end=end)

price = pd.DataFrame({ticker: data['Close'].squeeze() 
                     for ticker, data in all_data.items()},
                     index=all_data['AAPL'].index)

volume = pd.DataFrame({ticker: data['Volume'].squeeze()
                      for ticker, data in all_data.items()},
                      index=all_data['AAPL'].index)

returns = price.pct_change()
print(returns.tail())

print('\n')
print(returns['MSFT'].corr(returns['IBM']))
print('\n')
print(returns['MSFT'].cov(returns['IBM']))
print('\n')
print(returns.MSFT.corr(returns.IBM))

print('\n')
print(returns.corr())
print('\n')
print(returns.cov())

print('\n')
print(returns.corrwith(returns.IBM))

print('\n')
print(returns.corrwith(volume))

/var/folders/qw/xxg7th2n7sn81t2kt_xmf_540000gn/T/ipykernel_97339/1664129988.py:12: FutureWarning: YF.download() has changed argument auto_adjust default to True
  all_data[ticker] = yf.download(ticker, start=start, end=end)
[*********************100%***********************]  1 of 1 completed
/var/folders/qw/xxg7th2n7sn81t2kt_xmf_540000gn/T/ipykernel_97339/1664129988.py:12: FutureWarning: YF.download() has changed argument auto_adjust default to True
  all_data[ticker] = yf.download(ticker, start=start, end=end)
[*********************100%***********************]  1 of 1 completed
/var/folders/qw/xxg7th2n7sn81t2kt_xmf_540000gn/T/ipykernel_97339/1664129988.py:12: FutureWarning: YF.download() has changed argument auto_adjust default to True
  all_data[ticker] = yf.download(ticker, start=start, end=end)
[*********************100%***********************]  1 of 1 completed
/var/folders/qw/xxg7th2n7sn81t2kt_xmf_540000gn/T/ipykernel_97339/1664129988.py:12: FutureWarning: YF.download() has changed argument auto_adjust default to True
  all_data[ticker] = yf.download(ticker, start=start, end=end)
[*********************100%***********************]  1 of 1 completed

                AAPL       IBM      MSFT     GOOGL
Date
2016-10-17 -0.000680  0.002072 -0.003483  0.002784
2016-10-18 -0.000681 -0.026168  0.007690  0.018157
2016-10-19 -0.002979  0.003582 -0.002255  0.006513
2016-10-20 -0.000512  0.001719 -0.004867 -0.006301
2016-10-21 -0.003930 -0.012474  0.042096  0.002958


0.49976394103509325


8.87065789943125e-05


0.49976394103509325


           AAPL       IBM      MSFT     GOOGL
AAPL   1.000000  0.386818  0.389695  0.409613
IBM    0.386818  1.000000  0.499764  0.406657
MSFT   0.389695  0.499764  1.000000  0.459812
GOOGL  0.409613  0.406657  0.459812  1.000000


           AAPL       IBM      MSFT     GOOGL
AAPL   0.000277  0.000078  0.000095  0.000108
IBM    0.000078  0.000146  0.000089  0.000078
MSFT   0.000095  0.000089  0.000215  0.000106
GOOGL  0.000108  0.000078  0.000106  0.000249


AAPL     0.386818
IBM      1.000000
MSFT     0.499764
GOOGL    0.406657
dtype: float64


AAPL    -0.075597
IBM     -0.204844
MSFT    -0.092937
GOOGL   -0.000547
dtype: float64

In [203]:
# Unique Values, Value Counts, and Membership

obj = pd.Series(['c', 'a', 'd', 'a', 'a', 'b', 'b', 'c', 'c'])
uniques = obj.unique()

print(uniques)
print('\n')
print(pd.Series(obj).value_counts())
print('\n')
print(pd.Series(obj.values).value_counts(sort=False))

print('\n')
print(obj)
mask = obj.isin(['b', 'c'])
print('\n')
print(mask)
print('\n')
print(obj[mask])

to_match = pd.Series(['c', 'a', 'b', 'b', 'c', 'a'])
unique_vals = pd.Series(['c', 'b', 'a'])
print('\n')
print(pd.Index(unique_vals).get_indexer(to_match))

data = pd.DataFrame({'Qu1': [1, 3, 4, 5, 6],
                     'Qu2': [2, 3, 1, 2, 3],
                     'Qu3': [1, 5, 2, 4, 4],})
print('\n')
print(data)

result = data.apply(pd.Series.value_counts).fillna(0)
print('\n')
print(result)

['c' 'a' 'd' 'b']


c    3
a    3
b    2
d    1
Name: count, dtype: int64


c    3
a    3
d    1
b    2
Name: count, dtype: int64


0    c
1    a
2    d
3    a
4    a
5    b
6    b
7    c
8    c
dtype: object


0     True
1    False
2    False
3    False
4    False
5     True
6     True
7     True
8     True
dtype: bool


0    c
5    b
6    b
7    c
8    c
dtype: object


[0 2 1 1 0 2]


   Qu1  Qu2  Qu3
0    1    2    1
1    3    3    5
2    4    1    2
3    5    2    4
4    6    3    4


   Qu1  Qu2  Qu3
1  1.0  1.0  1.0
2  0.0  2.0  1.0
3  1.0  2.0  0.0
4  1.0  0.0  2.0
5  1.0  0.0  1.0
6  1.0  0.0  0.0